@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  --header: #242625;
  --header2: #313131;
  --light-blue: #133672;;
  --dark-blue:  #12234d;
  --text: #f1f9ff;

  --light-red: #ab1022;
  --dark-red: #890c1a;
  --text2: black;

  --font: "Montserrat", sans-serif;
  --body-color: #dbdbdb;
  --container-color: #ffffff;
}


body {

    font-family: var(--font);
}


.main-carousel {
    position: relative;
    overflow: hidden;
    height: fit-content; /* Allows the carousel to adjust its height based on the content */
    margin-bottom: 1rem;
}

.main-carousel .carousel-inner {
    position: relative;
}

.main-carousel .carousel-item {
    position: relative;
}

.main-carousel .carousel-item img {
    width: 100%;
    height: auto; /* Ensure the image fills the height of the carousel */
    display: block;
}

.news-updates-container {
    background-color: var(--container-color);
    border-radius: 2%;
    box-shadow: 2px -11px 60px -1px rgba(0,0,0,0.31);
    -webkit-box-shadow: 2px -11px 60px -1px rgba(0,0,0,0.31);
    -moz-box-shadow: 2px -11px 60px -1px rgba(0,0,0,0.31);;
}

.carousel-indicators {
    bottom: -15px;
}


/* Overlay for the lower part of the image */
.carousel-item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40%; /* Adjust height based on how much of the image you want to cover */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 2) 100%);
    z-index: 1; /* Ensure shadow is above the image but below the caption */
}


    /* Styling for the caption */
 .carousel-caption {
    position: absolute;
    bottom: -5px;
    left: 20px;
    right: 20px;
    z-index: 99; /* Ensure caption is above the overlay */
    color: #fff; /* White text for better contrast */
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    
}
.news-updates {
    background-color: var(--container-color);
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: var(--font);
  }

.news-header {
    text-align: center;
    color: var(--text);
    font-size: 1.75rem;
    margin-bottom: 1rem;
    background-color: var(--light-blue);
    padding: 10px;
    border-radius: 10px 10px 0 0;
  }


.news-updates-list .list-group-item {
    border: 1px solid var(--text);
    border-radius: 0.25rem;
    margin-bottom: 0.5rem;
    background-color: var(--container-color);
    padding: 0.75rem;
    color: var(--header);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



/* Styling for the update and news */
.update-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.25rem;
}


.update-caption {
    font-size: 1rem;
    color: var(--header);
    line-height: 1.5;
}

.news-updates-list .list-group-item:hover {
    background-color: #e9ecef;
    cursor: pointer;
}


/* Styling for the caption */
.standings {
    background-color: var(--container-color);
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.standings-container {
    padding: 1rem;
}

/*Tab design*/
.nav-item .nav-link {
    font-family: var(--font); 
    color: var(--text); 
    background-color: var(--dark-blue); 
    transition: background-color 0.3s ease; 
    padding: 10px;
}
  
/* Controls the space between each sub-tab item */
.nav-pills .nav-item {
    margin-right: 0.1rem; 
  }

  .nav-item .nav-link {
    font-family: var(--font); 
    color: var(--text); 
    background-color: var(--dark-blue); 
    transition: background-color 0.3s ease; 
}
.text-sm {
    font-size: 0.875rem;  
    font-weight: 600; 
      
}

.standings-header {
    border-bottom:2px solid rgb(201, 200, 200);
    font-size: 1.75rem;
    background-color: var(--light-blue);
    border-radius: 10px 10px 0 0;
    color: var(--text);
    padding: 10px;
}

/* tabs hover */
.nav-item .nav-link:hover {
    background-color: var(--light-red); 
    color: var(--text); 
}


.nav-item .nav-link.active {
    color: var(--dark-blue); 
    background-color: var(--container-color);
    border: 2px solid var(--light-blue); 
}

  /* tab spaces */
.nav-tabs .nav-item {
    margin: 2px;
  }
  
  /*Bracket Design */
.standings .nav-pills .nav-link {
    border-radius: 0.25rem;
    color: var(--body-color);
    font-size: 12px;
    padding: 8px;
}

.standings .nav-pills .nav-link.active {
    background-color: var(--body-color);
    color: var(--dark-blue);
    font-weight: 400;
    
}
.standings .team-logo {
    width: 50px;
    height: auto;
    border-radius: 0.25rem;
}

.standings table {
    margin-top: 1rem;
}

.standings .table th, .standings .table td {
    text-align: center;
}



.carousel-caption h5 {
    font-size: 40px;
    font-weight:500;
}

.top-points-leaders {
  text-align: center; /* Center align the header and list items */
  background-color: var(--container-color);
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: var(--font);
  margin-top: 2rem;
}

.points-leaders-list {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align the list items */

}

.points-leaders-list .list-group-item {
    display: flex;
    flex-direction: column; /* Stack image and details vertically */
    align-items: center; /* Center align content */
    border: none;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem; /* Space between list items */
    background-color: var(--container-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
   
}
.news-updates-list {
    padding: 10px;
}

.player-details {
    display: flex;
    flex-direction: column;
}

.player-image {

    border-radius: 5%; /* Makes the image circular */
    object-fit: cover; /* Ensures the image covers the container while maintaining aspect ratio */
    margin-bottom: 1rem; /* Adds spacing below the image */
}

.player-img1{
    width: 150px; /* Adjust size as needed */
    height: 150px; /* Ensure width and height are equal for a circle */
}
.player-img2{
    width: 120px; /* Adjust size as needed */
    height: 120px; /* Ensure width and height are equal for a circle */
}
.player-img3{
    width: 90px; /* Adjust size as needed */
    height: 90px; /* Ensure width and height are equal for a circle */
}

.leader-name {
    font-size: 1.20rem;
    margin-bottom: 0.5rem;
  }
  .leader-position, .leader-jersey, .leader-height, .leader-points {
    font-size: 1rem;
    margin-bottom: 0.25rem;
  }
  .leader-points strong {
    color: var(--light-blue);
  }

.mb-2 {
    margin-bottom: 0.5rem; /* Adds space between the image and text */
}

.points-leaders-header {
    margin-bottom: 1rem;
    color: var(--text);
    font-size: 1.75rem;
    background-color: var(--light-blue);
    border-radius: 10px 10px 0 0;
    padding: 10px;
}



@media(max-width:786px){
    .carousel-caption h5 {
    font-size: 15px;
    bottom: -10px;
    }
    .carousel-caption  {
    font-size: 10px;
    }

    .text-sm {
        font-size: 0.7rem;    
    }

    .standings .nav-pills .nav-link {
        font-size: 10px;
        
    }
    .nav-item .nav-link {
        padding: 5px;
    }
    .standings .nav-pills .nav-link {
        padding: 3px;
    }

    .news-header {
        font-size: 1.2rem;
        text-align: center;
      }
      .update-title {
        font-size: 1rem;
        margin-bottom: 0.25rem;
    }
    .standings-header {
        font-size: 1.2rem;
        text-align: center;

    }
    
    .update-caption {
        font-size: 0.8rem;
    }

    .points-leaders-header {
        font-size: 1.2rem;
    }

    
    .player-img1{
        width: 120px; 
        height: 120px; 
    }
    .player-img2{
        width: 90px; 
        height: 90px;
    }
    .player-img3{
        width: 60px; 
        height: 60px; 
    }
    
    .leader-name {
        font-size: 1rem;
      }
      .leader-position, .leader-jersey, .leader-height, .leader-points {
        font-size: 0.8rem;
      }

      .standings .team-logo {
        width: 40px;
    }
    
    .standings .table th, .standings .table td {
        font-size: 13px;
    }

}

