:root {
    --text-1: #242625;
    --text-2: #313131;
    --light-blue: #133672;
    --dark-blue: #12234d;
    --text: #f1f9ff;
    --light-red: #ab1022;
    --dark-red: #890c1a;
    --text2: black;
    --font: "Montserrat", sans-serif;
    --body-color: #f6f6f6;
    --container-color: #ffffff;
}

body {
    font-family: var(--font);
    background-color: var(--body-color);
    margin: 0;
    padding: 0;
}

/* Ensure header has correct height */
.header-main {

    height: 80px; /* Adjust this to match your header's actual height */

}

/* Adjusting the main container */
main.container {
    padding: 50px; 
}
/* Ensure table images are responsive */
.table img {
    width: 100%; /* Make images responsive within table cells */
    max-width: 40px; /* Set a maximum width for the images */
    height: auto; /* Maintain aspect ratio */
    border-radius: 50%; /* Optional: Add rounded corners */
}

/* Style for table links */
.table a {
    text-decoration: none; /* Remove underline from links */
    color: var(--text-1); /* Text color for links */
    font-weight: bold; /* Optional: Make link text bold */
}

.table a:hover {
    color: var(--light-blue); /* Change color on hover */
}

.filters {
    margin-bottom: 20px;
}
/* Custom width for the select element */
.custom-select-width {
    width: 100%; /* Adjust the width as needed */
    max-width: 200px; /* Optional: set a maximum width */
}
/* Custom table styles */
.custom-table {
    width: 100%; /* Make the table full-width */
    border-collapse: collapse; /* Remove space between borders */
    background-color: var(--container-color); /* Set a background color */
}

.custom-table th, .custom-table td {
    padding: 12px; /* Add padding inside table cells */
    text-align: left; /* Align text to the left */
    border-bottom: 1px solid var(--dark-blue); /* Add border between rows */
}

.custom-table thead th {
    background-color: var(--light-blue); /* Background color for headers */
    color: var(--text); /* Text color for headers */
}

.custom-table tbody tr:nth-of-type(odd) {
    background-color: var(--dark-blue); /* Background color for odd rows */
    color: var(--text); /* Text color for odd rows */
}

.custom-table tbody tr:nth-of-type(even) {
    background-color: var(--light-blue); /* Background color for even rows */
    color: var(--text-1); /* Text color for even rows */
}

.custom-table tbody tr:hover {
    background-color: var(--light-red); /* Background color on hover */
    color: var(--text); /* Text color on hover */
}


/* Player profile styles */
.player-profile {
    background-color: var(--container-color);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
}

.player-photo {
    border-radius: 50%;
    max-width: 200px;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.player-name {
    font-size: 2.5rem;
    color: var(--text-1);
    margin-top: 20px;
    margin-bottom: 10px;
}

.player-team, .player-position {
    font-size: 1.2rem;
    color: var(--text-2);
    margin-bottom: 5px;
}

.player-position span {
    font-weight: bold;
}

.player-stats {
    margin-top: 20px;
    padding-top: 15px;
    border-top: 2px solid var(--dark-blue); /* Add border */

}

.player-stats h2 {
    font-size: 1.5rem;
    
    color: var(--text-1);
    margin-bottom: 10px;
}
.player-stats ul {
    list-style: none;
    padding: 0;
}

.player-stats ul li {
    font-size: 1.1rem;
    color: var(--text-2);
    margin-bottom: 5px;
}

.player-stats ul li span {
    font-weight: bold;
}


/* Responsive adjustments */
@media (max-width: 768px) {
    .custom-table {
        font-size: 14px; /* Adjust font size for smaller screens */
    }

    .custom-table th, .custom-table td {
        padding: 8px; /* Reduce padding on smaller screens */
    }
}


