body{
margin-top: 120px; /* Adjust this value to match your navbar height */
}

.container {
    margin-top: 0; /* Ensure there's no additional margin on top */
}

.schedule-container {
    padding: 20px;
}

.date-picker-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.date-nav-buttons {
    display: flex;
    align-items: center;
}

.date-nav-buttons button {
    margin: 0 5px;
}

.current-date {
    flex-grow: 1;
    text-align: center;
}

.flatpickr-input {
    width: 150px;
}

/* Make sure the placeholder text is styled properly */
.flatpickr-input::placeholder {
    color: #999; /* Adjust color as needed */
    opacity: 1;  /* Ensure placeholder text is fully opaque */
}

.date-picker-container {
    position: relative;
    display: inline-block;
    width: 200px; /* Adjust based on your layout */
}

#date-picker {
    padding-left: 30px; /* Adjust based on icon size */
}

.icon-date-picker {
    position: absolute;
    left: 10px; /* Adjust based on your design */
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px; /* Adjust based on your design */
    color: #0e0606; /* Adjust color as needed */
}
