@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800;900&display=swap');
*{

    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

a , .nav_links {
    text-decoration: none;
    list-style: none;
}

#check, .checkbox {
    display:none;
}

/** Header and Nav Link Section start here **/

.header {
    background-color: #32333b;
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    z-index: 99;
}

.nav_content {
    max-width: 1200px;
    display:flex;
    text-align: center;
    justify-content: space-between;
    margin:auto;
    padding: 1rem 1rem;
}

.nav_links {
    display: flex;
    align-items: center;
    gap: 2rem;
    transition: left 0.3s;
}
.nav_links li a {
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    font-weight:600;
    color: #f7fafa;
    transition: 0.3;
}
.logo a{
    font-size: 25px;
    color: #9ddbfa;
    font-weight: 600;
    transition: .3s;
}

.logo a:hover {
    color:#f7fafa;
    transition: .3s;
}
.nav_links li a {
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    font-weight:600;
    color: #f7fafa;
    transition: 0.3;
}
.header .nav_links a:hover,
.header a.active {
    color: #9ddbfa;
}
.ctn {
    padding:9px 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    background-color:white;
    color: #32333b;
    font-weight:600;
    
}

.ctn:hover{
    background-color: #9ddbfa;
}
/** Header and Nav Link Section ends here **/

/** Home Section starts here **/

.home_container{
    min-height: 100vh;
    max-width: 1200px;
    margin:auto;
    padding: 1rem;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}
.home_content, .about_content{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.home_img {
    display:grid;
    place-items: center;
}
.home_img img{
    width: min(25rem, 90%);
    border-radius: 100%;
}
.home_img img{
    width: min(15rem, 90%);
    border-radius: 100%;
}
.home_desc{
    line-height: 1.5rem;
    color: #575757;
    margin-bottom: 2rem;
}

.home_title span{
    font-weight: 600;
}
.home_title{
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
    color:#1c1c1c;
    margin-bottom: 1rem;
}
/** Home Section ends here **/

/** About Section ends here **/
.about_container{
    min-height: 80vh;
    max-width: 1200px;
    margin:auto;
    padding: 1rem;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}

.about_img {
    display:grid;
    place-items: center;
}
.about_img img{
    width: min(25rem, 90%);
    border-radius: 100%;
}
.about_img img{
    width: min(15rem, 90%);
    border-radius: 100%;
}
.about_desc{
    line-height: 1.5rem;
    color: #ece7e7;
    margin-bottom: 2rem;
}

.about_title span{
    font-weight: 600;
}
.about_title{
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3rem;
    color:#ece7e7;
    margin-bottom: 1rem;
}
/** About Section ends here **/

/** Project Section starts here **/
.projects_container{
    min-height: 90vh;
    max-width: 1200px;
    margin:auto;
    padding: 1rem;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}
/** Project Section ends here **/

/** Contact Section starts here **/
.contact_container{
    min-height: 90vh;
    max-width: 1200px;
    margin:auto;
    padding: 1rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}

#contact h2{
    text-align: center;
    margin-bottom: 1em;
    font-size: 36px;
    color:rgb(241, 241, 241);
}
#contact form{
    max-width: 50em;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3em;
}
#contact form .input-box input,
#contact form textarea{
width:100%;
padding: 1em;
font-size: 15px;
background:rgb(241, 241, 241);
border-radius: .8rem;
margin: 0.5rem 0;
}

.btn-1 {
    background-color:rgb(241, 241, 241);
    border-radius: .8rem;
    margin: 0.5rem 0;
    width:100%;
    padding: 1em;
    font-size: 15px;
}
.btn-1:hover {
background:#9ddbfa;
}


/** Contact Section ends here **/






/** Footer Section starts here **/
.footer {
    background-color: #222222;
}
.footer .social{
    text-align:center;
    color:white;
}
.footer .social a{
    font-size:30px;
    color:white;
    text-align:center;
    border-radius: 50%;
    transition: 0.3s ease;
}
.footer .social a:hover{
    transform: scale(1.2) translateY(-10px);
    color:#9ddbfa;
}
.footer .copyright{
    text-align: center;
    font-size:12px;
    color:white;
}


/** Footer Section ENDS here **/
section {
    background: #d7f1ee;
}

section:nth-child(odd){
    background:#32333b;
    
}

/** Responsive START **/

@media only screen and (max-width: 700px){
    .header .checkbox{
        display:block;
    }
 .nav_links{
        position: absolute;
        width: 100%;
        height:100vh ;
        left: -100%;
        top: 70px;
        background-color: #32333b;
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
}
.header #check:checked ~ .nav_links {
    left: 0;
  
}
.nav_links li a {
    font-size: 1.25rem;

}
.nav_content .checkbox i{
    font-size: 2rem;
    color: #9ddbfa;
    cursor: pointer;
}
.home_container, .about_container{
    padding: 10rem 1rem 5rem 1rem;
    text-align: center;
    grid-template-columns:  repeat(1, 1fr);
}
 .contact_container{
    text-align: center;
    grid-template-columns:  repeat(1, 1fr);
}
.nav_links li a {
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    text-decoration: none;
    font-weight:600;
    color: white;
   
    transition: 0.3
}

.nav_links li a:hover{
    color: #9ddbfa;

}
.home_img, .about_img{
    grid-area: 1/1/2/2;

}

}

/** Responsive ENDS **/
