@font-face {
    font-family: 'Digital Display';
    src: url('https://praxeds.github.io/scrimba-basketball-scoreboard/Assets/Digital-Display.woff2') format('woff2'),
        url('https://praxeds.github.io/basketball-scoreboard/Assets/Digital-Display.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body{
    margin:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(175, 255, 251);
}

h3 {
    font-size: 3rem;
    color:white;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    color:white;
    font-size:30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top:-15px;
    text-transform: uppercase;
}

#team1TO, #team1TF, #team2TO, #team2TF {
    color:yellow;
}

table {
    color:white;
    font-size:20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding: 0 15px;
    
}

td {
    padding: 0 15px;
}
.teamFouls, .timeOut {
    font-size:20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top:-15px;
    text-transform: uppercase;
}

#shotClock_count{
    color:red;
    font-size:85px;
    font-family: 'Digital Display',monospace;
}

#timer_count {
    font-size: 4.9rem;
    color:white;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Digital Display',monospace;
}

.timer-buttons {
    display:flex;
    justify-content: space-between;
    gap: 10px 10px;
}

.upper {
    height:60vh;
}
    .upper-container {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 800px;
        height: 600px;
    }

    .scoreboard {
        width: 100%;
        height: 80%;
        border-radius: 8px;
        background-color: black;
        border: 7px solid rgb(145, 145, 145);
        outline: 10px solid rgb(67, 64, 80);
        
        display: grid;
        grid-template-columns: 1.5fr 1fr 1.5fr;
        grid-template-rows: 1fr 1.5fr;
        grid-column-gap: 0px;
        grid-row-gap: -20px;
        text-align: center;
        
    }
    .lower-section {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-top:20px;
    }
    
.team1-board, .team2-board, .timer-board   {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        background-color: rgb(0, 0, 0);
        outline: 3px solid  rgb(146, 93, 93);
        text-align:center;
        color:white;
        padding: 10px 5px;
   
       
    }


    .one {
        position: relative;
        width: 18em;
        height: 10em;
        text-align:start;
        margin-bottom: 30px;
        padding-left:5px;
        background-color: #0c0c0c ;
    }
    .pts-shadow {
        font-family: 'Digital Display',monospace;
        font-size: 11em;
        text-align: center;
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 52.5%;
        transform: translate(-50%, -50%);
        margin: 0;
        color: black;
    }
    .pts {
        font-family: 'Digital Display',monospace;
        font-size: 11em;
        text-align: end;
        position: relative;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        margin-right: 37.2px;
        color: rgb(243, 243, 87);
        width: 100%;
    }
    
    button {
        cursor: pointer;
        border: 1px solid white;
        border-radius: 2px;
        color: white;
        background-color: transparent;
        font-size:25px;
    }
    
    button:hover {
        background-color: rgb(243, 243, 243);
        color:black;
        transition: 0.3s ease-in-out;
    }

    .footer {
        position: relative;
        padding: 1px 20px;
        margin-top:50px;
        padding: 1rem;
    }

    .footer .copyright{
        text-align: center;
        font-size: 14px;
        color: #4b5563;
    
    }
    .footer a:hover{
        transform: scale(1.2) translateY(-10px);
        color:#0369a1;
    }


