.header-main {
    background-color: #f8fafc;
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    z-index: 99;
}
.header-nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-color: #f8fafc;;
    padding: 12px 20px;
}
.header-nav.scrolled {
    box-shadow: 1px 5px 5px 0px rgba(128,125,125,0.75);
}
.header-main-sm{
    height: 100%;
    display:flex;
    align-items: center;
    column-gap: 10px;
    cursor: pointer;
    
}
.header-main-sm-fb a, .header-main-sm-ig a  {
    display: inline-block;
    text-decoration: none;
    color:#4b5563;
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
    font-size: 20px;
    
}

.header-main-sm-fb a::after, .header-main-sm-ig a::after  {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #0369a1;
    transition: 0.30s ease-in-out;
}

.header-main-sm-fb a:hover:after, .header-main-sm-ig a:hover:after {
    width: 100%;
    transform: scale(1,1);
}

.header-main-sm-fb a:hover,
.header-main-sm-ig a:hover {
    color: #0369a1;
   
}
.header-menu-list {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.header-menu-list li {
    padding-left: 30px;
}
.header-menu-list li a {
    text-decoration: none;
    color: #4b5563;
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
    font-weight: 500;
}
.header-menu-list li a::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #0369a1;
    transition: 0.30s ease-in-out;
}
.header-menu-list li a:hover:after {
    width: 100%;
    transform: scale(1,1);
}
.header-menu-list a:hover,
.header-menu-list a.active {
    color: #0369a1;
   
}
.open-menu  {
    position: absolute;
    color: #0369a1;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}
.close-menu  {
    position: absolute;
    color: #f8fafc;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}
.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu {
    top: 20px;
    right: 20px;
}
#check {display: none;}
@media only screen and (max-width: 600px){
    .open-menu , .close-menu {
        display: block;
    }
    .header-menu-list {
        position: fixed;
        width: 100%;
        height: 50vh;
        right: -100%;
        top: 0;
        background-color: #4b5563;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 100;
        transition: all 0.2s ease-in-out;
    }
        .header-nav {
        display:flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        position: absolute;
        }

    .header-menu-list li {
        margin-top: 40px;
    }
    .header-menu-list li a {
        padding: 10px;
        border: 2px solid transparent;
        color:#f8fafc;
        font-weight:600;
        cursor: pointer;
        transition: 0.3
       
    }
    .header-menu-list a:hover,
    .header-menu-list a.active  {
     color:#f8fafc;
   
}
    #check:checked ~ .header-menu-list {
        right: 0;
    }
 
}