
:root {
    --color-1: #f8fafc;
    --hover:#0369a1;
    --background-color: #f8fafc; /* Day color */
    --text-color: #4b5563; /* Day text color */

    --skills-color: #f8fafc; 
    --skills-bf: #0369a1;

    
}

/* Night Theme */
body.night {
    --background-color: #1f2937; /* Night color */
    --text-color: #e5e7eb; /* Night text color */
    --hover: #d9e0e4;
    --color-1: #0369a1;
    background-color: var(--background-color); /* Apply background color */
    color: var(--text-color); /* Apply text color */
}

/* Night/Day Toggle Button container */
.theme-toggle {
    display: flex;
    align-items: center;
    margin-left: 20px; /* Adjust spacing from other elements */
}

/* Button styling */
.theme-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    position: relative;
    display: flex;
    align-items: center;
}

/* Icon styling */
#day-icon, #night-icon {
    font-size: 24px; /* Adjust icon size */
    position: absolute;
    transition: opacity 0.1s; /* Fast transition for visibility change */
}

/* Day icon styling */
#day-icon {
    color: #2c3e50; /* Day icon color */
    opacity: 1; /* Visible in day mode */
    z-index: 1; /* Ensure it's on top */
}


/* Night icon styling */
#night-icon {
    color: #f1c40f; /* Night icon color */
    opacity: 0; /* Hidden initially */
    z-index: 0; /* Ensure it's behind the day icon */
}

/* Show night icon when night mode is active */
body.night #night-icon {
    opacity: 1;
}

/* Hide day icon when night mode is active */
body.night #day-icon {
    opacity: 0;
}




.header-main {
    background-color:var(--background-color);
    position: fixed;
    display:flex;
    justify-content: center;
    width: 100%;
    height: 60px;
    top:0;
    left:0;
    z-index: 99;
}


.header-main-nav  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.header-main-sm{
    height: 100%;
    display:flex;
    align-items: center;
    column-gap: 10px;
    cursor: pointer;
}
.header-main-sm-fb a, .header-main-sm-ig a  {
    color:var(--text-color);
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
    font-size: 20px;
    
}
.header-main-sm-fb a::after, .header-main-sm-ig a::after  {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #0369a1;
    transition: 0.30s ease-in-out;
}

.header-main-sm-fb a:hover:after, .header-main-sm-ig a:hover:after {
    width: 100%;
    transform: scale(1,1);
}

.header-main-sm-fb a:hover,
.header-main-sm-ig a:hover {
    color: #0369a1;
   
}
.header-main.scrolled {
    box-shadow: 1px 5px 5px 0px rgba(128,125,125,0.75);
}

.header-main-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;

}
.header-main-sm{
    height: 100%;
    display:flex;
    align-items: center;
    column-gap: 10px;
    cursor: pointer;
    
}
.header-menu-list li {
    padding-left: 30px;
    
}
.header-menu-list li a {
    color: var(--text-color);
    text-align: center;
    transition: 0.15s ease-in-out; 
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer; 
}
.header-menu-list li a {
    text-decoration: none;
    color: var(--text-color);
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
    font-weight: 500;
}
.header-menu-list li a::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: var(--hover);
    transition: 0.30s ease-in-out;
}
.header-menu-list li a:hover:after {
    width: 100%;
    transform: scale(1,1);
}
.header-menu-list li a:hover,
.header-menu-list li a.active {
    color: var(--hover);
   
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin:5px auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: var(--hover);
}


@media(max-width:700px){
    .hamburger{
      display: block;
      position: absolute;
      top: 10px;
      right: 30px;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
      }
      .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
      }
      .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
      }

      .header-menu-list {
        position: fixed;
        right: -100%;
        top: 60px;
        gap: 30px;
        flex-direction: column;
        background-color: var(--color-1);
        width: 100%;
        text-align: center;
        transition: all 0.20s ease-in-out;
      }
      .header-menu-list.active{
        left: 0;
      }

}