
:root {
    --color-1: #f8fafc;
    --text-color: #4b5563;
    --hover:#0369a1;
}

.header-main {
    background-color:var(--color-1);
    position: fixed;
    display:flex;
    justify-content: center;
    width: 100%;
    height: 60px;
    top:0;
    left:0;
    z-index: 99;
}
.header-main-nav  {
    display: flex;
    justify-content: space-between;
}
.header-main-sm{
    height: 100%;
    display:flex;
    align-items: center;
    column-gap: 10px;
    cursor: pointer;
}
.header-main-sm-fb a, .header-main-sm-ig a  {
    color:var(--text-color);
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
    font-size: 20px;
    
}
.header-main-sm-fb a::after, .header-main-sm-ig a::after  {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #0369a1;
    transition: 0.30s ease-in-out;
}

.header-main-sm-fb a:hover:after, .header-main-sm-ig a:hover:after {
    width: 100%;
    transform: scale(1,1);
}

.header-main-sm-fb a:hover,
.header-main-sm-ig a:hover {
    color: #0369a1;
   
}
.header-main.scrolled {
    box-shadow: 1px 5px 5px 0px rgba(128,125,125,0.75);
}

.header-main-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;

}
.header-main-sm{
    height: 100%;
    display:flex;
    align-items: center;
    column-gap: 10px;
    cursor: pointer;
    
}
.header-menu-list li {
    padding-left: 30px;
}
.header-menu-list li a {
    color: var(--text-color);
    text-align: center;
    transition: 0.15s ease-in-out; 
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer; 
}
.header-menu-list li a {
    text-decoration: none;
    color: #4b5563;
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
    font-weight: 500;
}
.header-menu-list li a::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: var(--hover);
    transition: 0.30s ease-in-out;
}
.header-menu-list li a:hover:after {
    width: 100%;
    transform: scale(1,1);
}
.header-menu-list a:hover,
.header-menu-list a.active {
    color: var(--hover);
   
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin:5px auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
     background-color: var(--hover);
}

@media(max-width:700px){
    .hamburger{
      display: block;
      position: absolute;
      top: 10px;
      right: 30px;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
      }
      .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
      }
      .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
      }

      .header-menu-list {
        position: fixed;
        right: -100%;
        top: 60px;
        gap: 30px;
        flex-direction: column;
        background-color: var(--color-1);
        width: 100%;
        text-align: center;
        transition: all 0.20s ease-in-out;
      }
      .header-menu-list.active{
        left: 0;
      }

}
