@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800;900&display=swap');

*{

    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

a {

    cursor: pointer;
}

h1 {
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 4rem
}

h2 {
    font-size: 30px;
    line-height: 32px;
    color:#262a31;
    font-weight: 600;
    text-transform: uppercase;
}

p {
    font-size: 16px;
    line-height: 32px;
    color: #4b5563;
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-family: 'Poppins', sans-serif;
}
main {
    padding-top:8rem;
    width:100%;
    height: auto;
    background-color: #f8fafc;
}


/** Home Section starts here **/

.home-container{
    max-width: 1200px;
    margin:auto;
    padding: 1rem;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
.home-container-content{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.home-container-img {
    display:grid;
    place-items: center;
}

.home-container-img img{
    width: max(70%);
    border-radius: 100%;
    box-shadow: 0 0 10px #4b5563;
}
.home-container-content-name{
    
    color:#0369a1;
    margin-bottom: 1rem;
}
.home-container-content-desc{
    line-height: 2rem;
    color: #575757;
    margin-bottom: 2rem;
}


.btn-box {
    display:flex;
    justify-content: flex-start;
    
}

.btn {
    background-color: #f8fafc;
    color:#4b5563;
    padding: .5em 1em;
    border: 2px solid#0369a1;
    font-size: 15px;
    position: relative;
    cursor:pointer;
    margin: 15px;
    transition: 0.2s;   
    overflow:hidden
 }


 .btn.btn-1::before,.btn.btn-2::before,.btn.ctn-1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: -1px;
    z-index: -1;
    background-color:#0369a1;
    transition: transform 500ms ease-in-out;
    transform: scaleX(0);
    transform-origin: right;
  }
  
  .btn.btn-1:hover::before,
  .btn.btn-1:focus::before,
  .btn.btn-2:hover::before,
  .btn.btn-2:focus::before  {
    transform: scaleX(1);
   
  }
  
  .btn.btn-1, .btn.btn-2 {
    transition: color 300ms ease-in-out;
    z-index: 1;
  }
  
  
  .btn.btn-1:hover,
  .btn.btn-1:focus,
  .btn.btn-2:hover,
  .btn.btn-2:focus {
   color:#f8fafc;
  }

  /** Home Section ends here **/


  /** About Section starts here **/

  .about-container{
    max-width: 1200px;
    margin:auto;
    padding: 1rem;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
.about-img {
    display:grid;
    place-items: center;
}
.about-img img{
    width: max(70%);

}

  /** About Section ends here **/

  /** Project Section Starts here **/

.project-container{
    min-height: auto;
    max-width: 1200px;
    margin:auto;
    padding: 5.1rem;
}

.project-title {
    text-align: center;
    padding-bottom: 15px;
}

.project-box-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:20px;

}

  .project-container .project-box-container .box{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding:30px 20px;
}
.project-container .project-box-container .box h3{
    color:#131518;
    font-size: 20px;
    line-height: 2;
}
.project-container .project-box-container .box p{
    color:#777;
    font-size: 15px;
    line-height: 1.8;
}
.project-container .project-box-container .box:hover{
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    transform: scale(1.03);
}

.project_container .project-box-container .box span {
    margin-top: 10px;
    font-size: 17px;
    padding: 0 25px;

}

.project-img img {
    width: max(70%);
    border-radius: 100%;
}

.box ul li {
    display:inline-block;
}

  /** Contact Section Starts here **/

  .contact-container{
    min-height: auto;
    max-width: 1200px;
    margin:auto;
    padding: 3rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-thumb {
    background-color: #0369a1;
}
::-webkit-scrollbar-track{
    background-color: #4b5563;
    width: 50px;
}

@media(max-width: 600px){

    
    .home-container, .about-container, .project-box-container{
       text-align: center;
       place-items: center;
       grid-template-columns:  repeat(1, 1fr);
       
    }
    .home-container-img, .about-img{
        grid-area: 1/1/2/2;
    
    }
}

.footer {
    position: relative;
    bottom:0;
    width: 100%;
    padding: 1px 0;
    margin:auto;
    padding: 1rem;
}
.footer .social{
    text-align:center;
    color:#4b5563;
    margin-bottom: -20px;
    
}
.footer .social a{
    font-size:20px;
    color:#4b5563;
    text-align:center;
}

.footer .copyright{
    text-align: center;
    font-size: 14px;
    color: #4b5563;

}

.footer a {
    cursor: pointer;    
}

.footer a:hover{
    transform: scale(1.2) translateY(-10px);
    color:#0369a1;
}
