@font-face {
    font-family: 'Digital Display';
    src: url('https://praxeds.github.io/scrimba-basketball-scoreboard/Assets/Digital-Display.woff2') format('woff2'),
        url('https://praxeds.github.io/basketball-scoreboard/Assets/Digital-Display.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(175, 255, 251);
    color:white;
    
}
#shotClock_count{
    color:red;
    font-family: 'Digital Display',monospace;
    font-size:4rem;
}
.upper-section, .lower-section {

    display:flex;
    justify-content: center;
    align-items: center;
}
.upper-container {
    margin-top: 30px;
    height: 100%;
    width: 1000px;
}
.lower-container {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    height: 100%;
    width: 1150px;
 
}

.scoreboard {
    width: 100%;
    height: 52vh;
    background-color: rgb(22, 22, 22);;
    border: 7px solid rgb(145, 145, 145);
    outline: 10px solid rgb(212, 211, 211);
    border-radius: 8px;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

}

.board {
    margin-top: 30px;
    width: 60%;
    height: 30vh;
    background-color: rgb(22, 22, 22);;
    border: 1px solid rgb(145, 145, 145);
    outline: 2px solid rgb(212, 211, 211);
    border-radius: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
}
.board-box1, .board-box2, .board-box3 {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
}
button {
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
    border-radius: px;
    padding: 1px 1px;
    color: #000000;
    background-color: #7abedf;
    background: #d4eaff;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    font-family: sans-serif;
    font-weight: 800;
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
}
footer {
position: relative;
padding: 1px 20px;
margin-top:50px;
padding: 1rem;
}

.footer .copyright{
text-align: center;
font-size: 14px;
color: #4b5563;

}
.footer a:hover{
transform: scale(1.2) translateY(-10px);
color:#0369a1;
}
.pts {
    font-family: 'Digital Display',monospace;
    font-size: 10em;
    z-index: 2;
    display:flex;
    justify-content: center;
    margin-top:40px;
    color: rgb(243, 243, 87);
    width: 100%;

}
.box5 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align:center;
}
.box span {
    color:yellow;

}
p {
    font-size: 25px;
}

.input {
    background-color: white;
    width:11rem;
    border-radius: 8px;
    color:rgb(0, 0, 0);
}
h1 {
    font-size:5.4rem;
    font-family: 'Digital Display',monospace;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    font-weight: 550;
}
h2 {
    font-size:2.5rem;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    text-transform: uppercase;
    
}
.box7, .box9 {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    gap:30px;
    text-align: center;
}

.box8 {
    display:flex;
    justify-content: center;
}
.box7, .box9 {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    gap:30px;
    text-align: center;
}

img {
    height:90px;
    width: 80px;
    opacity: 0.1;

}
table {
    text-align:center;
}

@media only screen and (max-width: 800px){

    .scoreboard {
        width: 100%;    
    }
    .board {
    height: 100%;
    width: 50%;
     display: flex;
     flex-direction: column;
     justify-content: center;
    }
    button {
        font-size: 15px;
    }
    #shotClock_count{
        font-size:3.5rem;
    }

    h1 {
        font-size:5rem;
    }
    h2 {
        font-size:2rem;
    }
    .pts {

        font-size: 8em;
        width: 100%;
    
    }
    p {
        font-size: 23px;
    }
    img {
        height:70px;
        width: 60px;
        opacity: 0.1;
    
    }
    .box7, .box9 {
        font-size: 20px;
    }
    
    }

    @media only screen and (max-width: 543px){

        .scoreboard {
            width: 100%;     
            height: 100%;     
        }
        button {
       font-size: 12px;
           }
        #shotClock_count{
            font-size:3rem;
        }
    
        h1 {
            font-size:4rem;
        }
        h2 {
            font-size:1.5rem;
        }
        .pts {
    
            font-size: 7em;
            width: 100%;
        
        }
        p {
            font-size: 20px;
        }
        img {
            height:60px;
            width: 50px;
            opacity: 0.1;
        
        }
        .box7, .box9 {
            font-size: 18px;
        }
        
        }

        @media only screen and (max-width: 460px){

            .scoreboard {
                width: 100%;    
                height: 100%;    
            }
            button {
                font-size: 8px;
                    }
                    .input {
                        background-color: white;
                        width:90px;
                    }
            #shotClock_count{
                font-size:2.5rem;
            }
        
            h1 {
                font-size:3rem;
            }
            h2 {
                font-size:1rem;
            }
            .pts {
                font-size: 6em;
                width: 100%;
            
            }
            p {
                font-size: 17px;
            }
            img {
                height:50px;
                width: 35px;
                opacity: 0.1;
            
            }
            .box7, .box9 {
                font-size: 15px;
            }
            
            }

            @media only screen and (max-width: 382px){

                .scoreboard {
                    width: 100%;    
                    height: 100%;    
                }
                button {
                    font-size: 8px;
                        }
                        .input {
                            background-color: white;
                            width:60px;
                        }
                #shotClock_count{
                    font-size:2rem;
                }
            
                h1 {
                    font-size:2.5rem;
                }
                h2 {
                    font-size:1rem;
                }
                .pts {
                    font-size: 5.5em;
                    width: 100%;
                
                }
                p {
                    font-size: 15px;
                }
                img {
                    height:35px;
                    width: 25px;
                    opacity: 0.1;
                
                }
                .box7, .box9 {
                    font-size: 12px;
                }
                
                }

                @media only screen and (max-width: 315px){

                    .scoreboard {
                        width: 100%;    
                        height: 100%;    
                    }
                    .input {
                        background-color: white;
                        width:60px;
                    }
                    button {
                        font-size: 8px;
                            }
                    #shotClock_count{
                        font-size:1.5rem;
                    }
                
                    h1 {
                        font-size:2rem;
                    }
                    h2 {
                        font-size:1rem;
                    }
                    .pts {
                        font-size: 4.5em;
                        width: 100%;
                    
                    }
                    p {
                        font-size: 12px;
                    }
                    img {
                        height:30px;
                        width: 20px;
                        opacity: 0.1;
                    
                    }
                    .box7, .box9 {
                        font-size: 10px;
                    }
                    
                    }

                    @media only screen and (max-width: 256px){

                        .scoreboard {
                            width: 100%;    
                            height: 100%;    
                        }
                        #shotClock_count{
                            font-size:1rem;
                        }
                    
                        h1 {
                            font-size:1.5rem;
                        }
                        h2 {
                            font-size:1rem;
                        }
                        .pts {
                            font-size: 3.5em;
                        
                        
                        }
                        p {
                            font-size: 10px;
                        }
                        img {
                            height:25px;
                            width: 20px;
                            opacity: 0.1;
                        
                        }
                        .box7, .box9 {
                            font-size: 8px;
                        }
                        
                        }
